.profile {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  text-align: center;
  color: var(--name-color);
  background-color: white;
  box-shadow:  -1px 6px 6px rgba(1, 0, 0, 0.3), 1px -1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  color: var(--name-color);
}
.successfulStatus{
  color: var(--primary-dark);
  margin-bottom: 0;
}
/* User name header */
.profile h1 {
  font-size: 4rem;
  color: inherit;
  margin-bottom: 1.5rem;
}
/* Toggle change password div button */
.viewSettings {
  color: var(--primary-color);
  padding-bottom: 0.2rem;
  border: none;
  font-size: 2rem;
  margin: 0.7rem;
  background-color: transparent;
}
.viewSettings:hover {
  cursor: pointer;
  color: var(--button-color-active);
}
/* Mobile changes */
@media only screen and (max-width: 595px) {
  .profile {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .profile h1 {
    font-size: 2.5rem;
  }
  .profile h2{
    margin-top: 0.4rem;
  }
}
