.accountPageImage {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.accountPageImage img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
/* Div button to show past orders made */
.toggleShowOrders {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.toggleShowOrders:hover {
  cursor: pointer;
}

.toggleShowOrders:hover h2{
  color: var(--button-color-active);
}

/* Mobile changes */
@media only screen and (max-width: 595px) {
  .toggleShowOrders h2{
    font-size: 1.4rem;
  }
}