/* Password change status label */
.otherStatus, .errorStatus {
  margin-bottom: 0;
}
.otherStatus {
  color: var(--primary-dark);
}
.errorStatus {
  color: var(--error-color);
}

.form {
  width: 95%;
  max-width: 25rem;
  margin: 1rem auto;
}
.hidden {
  display: none;
}
/* Inputs with their labels */
.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.control label {
  margin-bottom: 0.5rem;
  color: inherit;
  font-weight: bold;
}
.control input {
  padding: 0.25rem;
  width: 100%;
  border: 1px solid var(--complementary-color);
  border-radius: 8px;
  font: inherit;
}
/* Invalid input */
.invalid label {
  color: var(--error-color);
}
.invalid input {
  border-color: var(--error-color);
  background-color: var(--error-input);
}
/* Form button */
.action {
  margin-top: 1.5rem;
}
.action button {
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--complementary-darkest);
  border-radius: 20px;
  background-color: var(--button-color);
  color: white;
  font: inherit;
  cursor: pointer;
}
.action button:hover {
  background-color: var(--button-color-active);
  border-color: var(--complementary-color);
}
/* Mobile Changes */
@media only screen and (max-width: 595px) {
  .successfulStatus, .errorStatus {
    margin-bottom: 0.3rem;
  }
  .form {
    margin-top: 0.1rem;
  }
  .action button {
    width: 100%;
  }
  .control input {
    padding: 0.3rem;
  }
}