.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    margin-block: 0;
    padding-inline-start: 0;
}
.menuSelection {
    display: inherit;
    flex-direction: inherit;
    align-self: center;
    margin: 1rem;
    gap: 0.5rem;
}

.menuSelection:first-child {
    margin-top: 0;
}

.menuSelection button {
    background-color: transparent;
    width: auto;
    border: 0;
    font-size: x-large;
    color: var(--primary-color);
}
.menuSelection button:hover {
  cursor: pointer;
  color: var(--complementary-color);
}

.menuSelection button:selection {
    color: var(--complementary-light);
}