.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 60%;
  text-align: center;
  text-shadow: 5px 5px 5px var(--primary-dark);
  z-index: 1;
}
.message h2 {
  font-size: 3rem;
}
.message p {
  font-size: 2rem;
}
.message a:hover{
  text-shadow: 5px 5px 5px var(--nav-highlight-color);
}
/* Mobile changes */
@media only screen and (max-width: 595px) {
  .message h2 {
    font-size: 2rem !important;
  }
  .message p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 700px) {
  .message {
    max-width: 75%;
  }
  .message h2 {
    font-size: 3rem;
  }
}