.spinner {
  display:block;
  width: 80px;
  height: 80px;
  margin: auto;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 60px;
  height: 60px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--primary-color);
  border-color: var(--primary-color) transparent var(--primary-color) transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
