.modal {
  position: fixed;
  top: 12vh;
  left: 5%;
  width: 90%;
  max-height: 85%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.90);
  z-index: 30;
  overflow-y: auto;
  display: block;
}
.content{
  max-height: fit-content;
}
@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
@media only screen and (max-width: 595px) {
  .modal {
    top: 5vh;
  }
}
  