/* Background Image */
.menuPageImage{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.menuPageImage img {
  object-fit: cover;
  overflow: auto;
}

.container {
  margin: auto;
  position: relative;
  width: 60%;
  z-index: 1;
}
@media only screen and (max-width: 595px) {
.container {
  width: fit-content;
  width: 90%;
}
}