/* Background Image */
.homeImage {
  position:fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.homeImage img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

/* Welcome message section */
.pageOverlay{
  height: 80vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}