@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
:root {
  /* Tropical Rain Forest */
  --primary-color: #00755E; 
  --primary-light: #009174;
  --primary-dark: #1D584C;
  --primary-darkest: #00221B;
  /* Blue Green Color Wheel */
  --secondary-color: #064E40;
  /* MSU Green */
  --name-color: #053E32;
  /* Burgundy */
  --complementary-color: #750017;
  --complementary-light: #9B0027;
  --complementary-dark: #520014;
  --complementary-darkest: #240009;
  /* Specific component/html objects color */
  --background-color: rgb(234, 234, 234);
  --error-color: #ED003B;
  --error-input: #FFEFF3;
  --price-color: var(--complementary-color);
  --button-color: var(--complementary-color);
  --button-color-active: var(--complementary-light);
  --button-opaque: #F1F1F1;
  --coffee-name-color: var(--primary-dark);
  /* Navigation colors */
  --nav-header-height: 5rem;
  --header-color: #00755E;
  --nav-highlight-color: #00C9A1;
  --nav-highlight-color2: #75003F;
  --cart-button-color: #004b3c;
  --cart-button-highlight-color: #003127; 
  --cart-badge-color: var(--primary-light);
  /* Mobile margin from layout header*/
  --mobile-margin-top-min: 8rem;
  --mobile-margin-top-max: 16rem;
}
html {
/*   font-family: 'Open Sans', sans-serif; */
  font-family: 'Libre Franklin', sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);

}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
}

body, html {
  height: 100%;
}

.globalButton {
    margin: auto;
}

.globalButton button{
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--complementary-darkest);
  border-radius: 20px;
  background-color: var(--button-color);
  color: white;
  font: inherit;
  cursor: pointer;
  margin-bottom: 1.2rem;

}
.globalButton button:hover {
  background-color: var(--button-color-active);
  border-color: var(--complementary-color);
}

/* Mobile Changes */
@media only screen and (max-width: 595px) {
  .globalButton {
    width: 90%;
  }

}